nav{
background:#1e3a8a;
padding:15px 30px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav h2{
color:white;
margin:0;
}

nav a{
color:white;
text-decoration:none;
margin-left:15px;
font-weight:bold;
}

nav a:hover{
text-decoration:underline;
}
body{
font-family:Arial;
background:#f4f4f4;
}

.container{
width:80%;
margin:auto;
background:white;
padding:30px;
margin-top:30px;
border-radius:10px;
}

nav{
background:#1e3a8a;
padding:15px;
}

nav a{
color:white;
text-decoration:none;
}
