nav{
background:#1e3a8a;
padding:15px 30px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav h2{
color:white;
margin:0;
}

nav a{
color:white;
text-decoration:none;
margin-left:15px;
font-weight:bold;
}

nav a:hover{
text-decoration:underline;
}
body{
font-family:Arial;
background:#eef2ff;
}

.container{
width:500px;
margin:auto;
background:white;
padding:20px;
margin-top:50px;
border-radius:10px;
}

input,
textarea{
width:100%;
padding:10px;
margin:10px 0;
}

button{
width:100%;
padding:10px;
background:#2563eb;
color:white;
border:none;
}

nav{
background:#1e3a8a;
padding:15px;
}

nav a{
color:white;
text-decoration:none;
}
